/* 1.头部 */
.header-other {
  margin: 10px 30px 0 741px;
}

.header-list-content {
  padding-left: 150px;
}

.header-list-content>a:first-child {
  padding: 4px 10px;
  background-color: #00bf4b;
  color: #fff;
  border-radius: 3px;
}

/* 2.主体 */
/* 2.1 主体 banner部分 */
.main-banner {
  padding-top: 20px;
}

.main-banner-sidemenu {
  position: relative;
  width: 254px;
  float: left;
  padding-left: 15px;
  font-size: 16px;
  color: #fff;
  padding-top: 62px;
  background-image: url(../images/grouptour_banner_sidemenu_img.png);
  background-repeat: no-repeat;
}

.main-banner-sidemenu>div.navbox {
  position: absolute;
  top: 62px;
  left: 0;
  width: 250px;
  height: 381px;
  border: 2px solid #5abb1f;
  background: #fff;
}

.main-banner-sidemenu-item {
  position: relative;
  float: left;
  width: 205px;
  height: 60px;
  padding: 7px 5px 4px 40px;
  line-height: 20px;
  border-top: 1px solid #dff0d1;
  z-index: 2;
}

.main-banner-sidemenu-item:nth-last-child(-n+3) {
  height: 40px;
}

.main-banner-sidemenu-item>i {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 21px;
  height: 21px;
  background-image: url(../images/spirit_07.png);
  background-repeat: no-repeat;
  background-position: 0px -26px;
}

.main-banner-sidemenu-item:nth-child(2)>i {
  background-position: -21px -26px;
}

.main-banner-sidemenu-item:nth-child(3)>i {
  background-position: -42px -26px;
}

.main-banner-sidemenu-item:nth-child(4)>i {
  background-position: -63px -26px;
}

.main-banner-sidemenu-item:nth-child(5)>i {
  background-position: -84px -26px;
}

.main-banner-sidemenu-item:nth-child(6)>i {
  background-position: -105px -26px;
}

.main-banner-sidemenu-item>strong>a {
  color: #444;
  font-weight: normal;
  font-size: 15px;
}

.main-banner-sidemenu-item>p {
  height: 36px;
  line-height: 18px;
}

.main-banner-sidemenu-item>p>a {
  display: inline-block;
  padding-right: 13px;
  color: #888;
  font-size: 12px;
  font-family: "arial";
}

.main-banner-sidemenu-item>strong>a:hover,
.main-banner-sidemenu-item>p>a:hover {
  color: #fe8d00;
}

.main-banner-right {
  width: 926px;
  float: right;
}

/* banner部分的搜索框 */
.main-banner-searchbox {
  height: 65px;
}

.main-banner-searchbox-text1 {
  position: relative;
  width: 135px;
  float: left;
  height: 41px;
  padding: 0 5px 0 10px;
  line-height: 41px;
  border: 2px solid #ff9100;
  background-color: #fff;
  cursor: pointer;
}

.main-banner-searchbox-text1>i {
  float: left;
  vertical-align: top;
  background-position: 0 -238px;
  width: 18px;
  height: 22px;
  margin: 10px 3px 0 0;
  background-image: url(../images/spirit_07.png);
  background-repeat: no-repeat;
}

.main-banner-searchbox-text1>strong {
  width: 70px;
  float: left;
  border: 0 none;
  font-size: 14px;
  font-weight: normal;
  color: #444;
}

.main-banner-searchbox-text1>span {
  position: relative;
  width: 30px;
  float: left;
  padding-right: 10px;
  color: #777;
}

.main-banner-searchbox-text1>span>i {
  position: absolute;
  top: 0;
  right: 3px;
  width: 9px;
  height: 5px;
  margin: 18px 0 0 2px;
  background-image: url(../images/spirit_03.png);
  background-repeat: no-repeat;
}

.main-banner-searchbox-text2 {
  float: left;
  height: 30px;
  padding: 0 0 0 10px;
  line-height: 35px;
  position: relative;
}

.main-banner-searchbox-text2>i {
  position: absolute;
  margin: 10px 0 0 12px;
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 22px;
  background-image: url(../images/spirit_07.png);
  background-position: -22px -238px;
}

.main-banner-searchbox-text2>form>input {
  width: 361px;
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 39px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  border: 2px solid #ff9100;
  border-right: 0 none;
  color: rgb(170, 170, 170);
}

.main-banner-searchbox-text2>form>input.btn {
  height: 45px;
  padding: 0;
  width: 151px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  border: none;
  background-color: #ff9100;
  outline: none;
  cursor: pointer;
}

.main-banner-searchbox-text2>form>input.btn:hover {
  background-color: #ff7300;
}

.main-banner-searchbox-text2>div.hidebox {
  display: none;
  position: absolute;
  top: 45px;
  left: 10px;
  z-index: 30;
  border: #dddddd solid 1px;
  width: 510px;
}

.main-banner-searchbox-text2>div.hidebox>ul {
  line-height: 30px;
}

.main-banner-searchbox-item {
  margin: 0 20px;
  padding: 5px 0;
  border-bottom: #dddddd dashed 1px;
  margin-bottom: -1px;
}

.main-banner-searchbox-item>label {
  display: inline-block;
  width: 74px;
  color: #999;
}

.main-banner-searchbox-item>div.content {
  float: right;
  width: 396px;
  vertical-align: top;
}

.main-banner-searchbox-item>div.content>p {
  width: 396px;
}

.main-banner-searchbox-item>div.content>p>a {
  margin-left: 20px;
  display: inline-block;
}

.main-banner-searchbox-item>div.content>p>a.more {
  float: right;
}

.main-banner-searchbox-item a:hover {
  color: #fe8d00;
}

.main-banner-searchbox-key {
  float: left;
  width: 233px;
  padding-left: 15px;
  line-height: 45px;
  overflow: hidden;
  height: 45px;
  font-size: 14px;
  color: #999;
}

.main-banner-searchbox-key>a {
  color: #999;
  margin-right: 15px;
  display: inline-block;
}

.main-banner-searchbox-key>a:hover {
  color: #fe8d00;
}

.main-banner-sliderbox {
  width: 100%;
  height: 385px;
}

/* 2.2 主体旅游部分 */
.main-travel-boxcon-title {
  height: 48px;
  border-bottom: 3px solid #65b71f;
}

.second .main-travel-boxcon-title {
  border-bottom: 3px solid #fa8d00;
}

.main-travel-boxcon-title>h3 {
  width: 220px;
  float: left;
  height: 40px;
}

.main-travel-boxcon-title>h3>a {
  display: block;
  width: 173px;
  height: 27px;
  margin-top: 16px;
  line-height: 27px;
  background-image: url(../images/spirit_08.png);
  background-repeat: no-repeat;
  background-position: 0px -323px;
}

.second .main-travel-boxcon-title>h3>a {
  width: 110px;
  background-position: 0 -351px;
}

.third .main-travel-boxcon-title>h3>a {
  width: 110px;
  height: 26px;
  background-position: 0 -378px;
}

.main-travel-boxcon-title>div.list {
  float: left;
  padding: 20px 0 0 0;
  height: 23px;
}

.main-travel-boxcon-title>div.list>a {
  display: inline-block;
  padding: 0 10px;
  line-height: 23px;
  font-size: 14px;
  background: url(../images/line_icon.png) no-repeat right 2px;
}

.main-travel-boxcon-title>div.list>a.on {
  background-color: #65b71f;
  color: #fff;
  border-radius: 3px;
  background-image: none;
}

.second .main-travel-boxcon-title>div.list>a.on {
  background-color: #fa8d00;
}

.third .main-travel-boxcon-title>div.list>a.on {
  background-color: #3aaaf8;
}

.main-travel-boxcon-title>a {
  float: right;
  padding-top: 23px;
  color: #999;
}

.main-travel-boxcon-title>a:hover {
  color: #fe8d00;
}

.main-travel-boxcon-sliderbar {
  width: 200px;
  height: 432px;
  float: left;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

.main-travel-boxcon-sliderbar>a {
  display: block;
}

.main-travel-boxcon-sliderbar>a>img {
  display: block;
}

.main-travel-boxcon-sliderbar>p {
  padding: 13px 10px 13px 40px;
  border: 1px solid #e1ebd3;
  border-top: none;
  color: #6cb208;
  background-color: #f4ffe5;
}

.second .main-travel-boxcon-sliderbar>p {
  color: #f29f4e;
  border: 1px solid #eae3cf;
  border-top: 0 none;
  background: #fdf6e1;
}

.main-travel-boxcon-sliderbar>p:first-child {
  padding: 13px 10px 12px 40px;
}

.main-travel-boxcon-sliderbar>p>i {
  position: absolute;
  width: 26px;
  height: 21px;
  margin-left: -32px;
  background-image: url(../images/spirit_08.png);
  background-repeat: no-repeat;
}

.main-travel-boxcon-sliderbar>p>i.i1 {
  background-position: 0px 0px;
  margin-top: -6px;
}

.second .main-travel-boxcon-sliderbar>p>i.i1 {
  background-position: 0px -30px;
}

.main-travel-boxcon-sliderbar>p>i.i2 {
  margin-top: 0;
  background-position: -27px 0px;
}

.second .main-travel-boxcon-sliderbar>p>i.i2 {
  background-position: -52px -30px;
}

.main-travel-boxcon-sliderbar>p>i.i3 {
  background-position: -54px 0px;
}

.second .main-travel-boxcon-sliderbar>p>i.i3 {
  background-position: -27px -30px;
}

.main-travel-boxcon-sliderbar>p>a {
  font-size: 14px;
  padding-right: 10px;
}

.main-travel-boxcon-sliderbar>p>b {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}

.main-travel-boxcon-sliderbar a {
  color: #6cb208;
}

.second .main-travel-boxcon-sliderbar a {
  color: #fd7e0d
}

.main-travel-boxcon-sliderbar a:hover {
  color: #fe8d00;
}

.main-travel-boxcon-slidercon {
  width: 1000px;
  float: right;
  height: 422px;
  padding-top: 10px;
  overflow: hidden;
}

.main-travel-boxcon-slidercon-item {
  position: relative;
  width: 230px;
  float: left;
  padding: 10px 0 10px 20px;
}

.main-travel-boxcon-onfind {
  font-size: 14px;
  color: #999;
  float: left;
  padding: 10px 20px;
}

.main-travel-boxcon-onfind>i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px -5px 0;
  background: url(../images/spirit_03.png) no-repeat -63px -18px;
}

.main-travel-boxcon-slidercon-item a:hover {
  color: #fe8d00;
}

.main-travel-boxcon-slidercon-item>a>img {
  display: block;
  width: 230px;
  height: 145px;
}

.main-travel-boxcon-slidercon-item>a>p {
  height: 24px;
  padding: 2px 0 3px;
  line-height: 24px;
  overflow: hidden;
}

.main-travel-boxcon-slidercon-item>a>div.other {
  display: block;
  width: 210px;
  line-height: 24px;
  color: #aaa;
}

.main-travel-boxcon-slidercon-item>a>div.other>span {
  float: right;
  line-height: 18px;
}

.main-travel-boxcon-slidercon-item>a>div.other>span.price {
  float: left;
  padding-right: 10px;
  color: #f60;
  font-family: "arial";
}

.main-travel-boxcon-slidercon-item>a>div.other>span.sale {
  float: left;
  height: 12px;
  padding: 0 3px 0 16px;
  margin-top: 4px;
  line-height: 12px;
  border: 1px solid #ff8d30;
  color: #ff8d30;
  font-family: "宋体";
  background: url(../images/spirit_08.png) no-repeat -91px -184px;
  overflow: hidden;
}

.main-travel-boxcon-slidercon-item>a>div.other>span.price>b {
  padding-right: 3px;
  font-size: 20px;
  font-weight: normal;
}

/* 3.底部 */
footer {
  width: 100%;
  padding: 10px 0 20px 0;
  text-align: center;
  color: #999;
  font-family: arial;
  overflow: hidden;
}

footer a {
  padding: 0px 5px;
}

footer a:hover {
  color: #fa8d00;
}

.footer-list,
.footer-ft {
  margin-bottom: 5px;
}