/* 1.头部 */
/* 头部搜索框 */
.header-search {
  position: relative;
  float: left;
  width: 350px;
  height: 31px;
  border: 2px solid #fa8d00;
  background: #fff;
  box-sizing: border-box;
  margin: 15px 0 0 80px;
}

.header-search-curt {
  float: left;
  width: 64px;
  height: 100%;
  background-color: #f9f9f9;
  border-right: 1px solid #eaeaea;
  padding: 7px 6px 3px 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.header-search-curt span {
  display: inline-block;
  width: 42px;
  font-size: 14px;
}

.header-search-curt i {
  position: absolute;
  top: 12px;
  left: 43px;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid #a9a9a9;
  border-bottom: 0 none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.header-search-curt:hover i {
  transform: rotate(180deg);
}

.header-search-curt .curtlist {
  display: none;
}

.curtlist-list .curtlist {
  position: absolute;
  left: -1px;
  top: 27px;
  border: 1px solid #eaeaea;
  border-top: 2px solid #fa8d00;
  color: #555;
  z-index: 200;
}

.curtlist-list .curtlist li {
  width: 55px;
  line-height: 24px;
  padding-left: 8px;
  background-color: #fff;
}

.curtlist-list .curtlist li:hover {
  background-color: #f0f0f0;
}

.header-search-input {
  float: left;
  width: 205px;
  height: 100%;
  border: none;
  padding: 0px 5px 0px 10px;
  box-sizing: border-box;
}

.header-search button {
  float: right;
  width: 76px;
  height: 100%;
  border: none;
  background-color: #fa8d00;
  color: #fff;
  font-size: 16px;
}

.hearder-search-keyword {
  position: absolute;
  top: 6px;
  right: 80px;
}

.hearder-search-keyword a {
  display: inline-block;
  padding: 0 5px;
  margin-right: 3px;
  line-height: 20px;
  color: #888;
  border-radius: 3px;
  background: #f3f3f3;
}

/* 2.主体 */
/* 2.1主体-banner部分 */
.main-banner {
  height: 320px;
  padding-top: 20px;
  background: #eee url(../images/banner_bg.jpg) no-repeat center 0;
}

.main-banner .container {
  height: 300px;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
}

.main-banner-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 460px;
  height: 300px;
  background-color: #00bf49;
  z-index: 2;
}

.main-banner-left-nav {
  width: 90px;
  float: left;
  margin-top: 10px;
  overflow: hidden;
}

.main-banner-left-nav>li {
  color: #fff;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  overflow: hidden;
}

.main-banner-left-nav>li:hover {
  background-color: #fff;
  color: #00bf49;
}

.main-banner-left-nav>li:hover>b {
  border-bottom: none;
}

.main-banner-left-nav>li>b {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  width: 69px;
  height: 39px;
  padding-left: 1px;
  border-bottom: 1px solid #00b043;
}

.main-banner-searchbox {
  position: relative;
  float: right;
  background-color: #fff;
  width: 324px;
  height: 290px;
  padding: 10px 20px 0 26px;
}

.main-banner-search-dest {
  margin-top: 20px;
}

.main-banner-search-dest-item {
  position: relative;
  height: 34px;
  margin-bottom: 15px;
}

.main-banner-search-dest-item:last-child {
  height: 61px;
  margin-bottom: 0;
}

.main-banner-search-dest-item>span {
  float: left;
  font-size: 16px;
  width: 64px;
  line-height: 34px;
  margin-right: 10px;
  text-align: right;
}

.main-banner-search-dest-item .ipt-text {
  width: 238px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  height: 32px;
  font-size: 14px;
  overflow: hidden;
  padding-left: 10px;
}

.main-banner-search-dest-item-btn {
  float: right;
  background-color: #ff9911;
  border: 0;
  border-bottom: 2px solid #cf7600;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  width: 140px;
  height: 35px;
  margin-top: 5px;
  line-height: 34px;
  text-align: center;
}

.main-banner-search-dest-item-btn:hover {
  background-color: #ff7700;
  color: #fff;
}

.main-banner-search-dest-item .money-icon {
  position: absolute;
  top: 0px;
  left: 107px;
  z-index: 2;
  height: 35px;
  width: 69px;
  margin-top: 8px;
  background-image: url(../images/spirit_04.jpg);
  background-repeat: no-repeat;
  background-size: 180px 500px;
  background-position: 0px -299px;
}

.main-banner-searchbox-tips {
  height: 33px;
  color: #888;
  text-align: center;
}

.main-banner-searchbox-tips>b {
  color: #666;
  margin: 0px 5px;
}

.main-banner-hottravel {
  line-height: 20px;
}

.main-banner-hottravel>dt {
  float: left;
  width: 36px;
  color: #888;
}

.main-banner-hottravel>dd {
  float: left;
  color: #d3d3d3;
}

.main-banner-hottravel>dd>a {
  display: inline-block;
  color: #333;
  padding: 0px 6px;
}

.main-banner-hottravel>dd>a:hover {
  color: #fa8d00;
}

.form-search-hide {
  display: none;
  position: absolute;
  top: 64px;
  left: 100px;
  width: 486px;
  height: 181px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.form-search-cont {
  padding: 10px 15px;
  background-color: #fff;
}

.form-search-cont-top {
  font-size: 14px;
  color: #333;
}

.form-search-cont-top>a {
  position: relative;
  float: left;
  padding: 0 15px 5px 15px;
  color: #333;
  border-bottom: 2px solid #00bf49
}

.form-search-cont-top>a>i {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -4px;
  vertical-align: middle;
  overflow: hidden;
  border-width: 4px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #00bf49 transparent;
}

.form-search-cont-top>a:first-child>i {
  display: block;
}

.form-search-cont-content-list {
  font-size: 14px;
  padding: 10px 0px;
  line-height: 28px;
}

.form-search-cont-content-list>a {
  display: inline-block;
  padding-right: 15px;
  font-size: 13px;
}

.form-search-cont-content-list>a:hover {
  color: #fa8d00;
}

.main-banner-slider {
  float: right;
  position: relative;
  width: 740px;
  height: 300px;
  overflow: hidden;
}

.main-banner-slider>ul {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(740px * 2);
}

.main-banner-slider>ul>li {
  float: left;
  width: 740px;
  height: 300px;
}

.main-banner-slider>ul a {
  display: block;
  width: 100%;
  height: 100%;
}

.main-banner-slider>ul img {
  width: 100%;
  height: 100%;
}

.main-banner-slider-arrow {
  display: none;
}

.main-banner-slider-arrow-left,
.main-banner-slider-arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -34px;
  width: 24px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-banner-slider-arrow-left {
  left: 0px;
}

.main-banner-slider-arrow-right {
  right: 0px;
}

.main-banner-slider-arrow-left>i,
.main-banner-slider-arrow-right>i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -8px;
  width: 16px;
  height: 26px;
  background-image: url(../images/main_banner_slider_icon.png);
  background-repeat: no-repeat;
  background-size: 14px 52px;
  background-position: 0px 0px;
}

.main-banner-slider-arrow-right>i {
  background-position: 0px -26px;
}

.main-banner-slider-arrow-left:hover,
.main-banner-slider-arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.main-banner-slider-xyd {
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-left: -18px;
}

.main-banner-slider-xyd>li {
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0px 3px;
}

.main-banner-slider-xyd>li.active {
  background-color: #46ba00;
}

/* 2.2 主体 floor部分 */
/* 2.2.1 旅游度假 */
.main-floor-holiday {
  height: 552px;
}

.main-floor-holiday .container {
  padding: 30px 0px;
}

.main-floor-holiday-title {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #f80;
}

.main-floor-holiday-title>strong {
  padding-left: 40px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 18px;
}

.main-floor-holiday-title>strong>i {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/spirit_01.png);
  background-size: 600px 500px;
  background-position: -31px -128px;
}

.main-floor-holiday-title>strong>a {
  color: #f80;
}

.main-floor-holiday-title>a {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: #999;
}

.main-floor-holiday-title>a:hover {
  color: #fa8d00;
}

.main-floor-holiday-list {
  position: absolute;
  top: 0px;
  left: 220px;
  font-size: 16px;
}

.main-floor-holiday-list>a {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.main-floor-holiday-list>a:hover {
  color: #fa8d00;
}

.main-floor-holiday-list>a>i {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -8px;
  border-top: 0 none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f80;
}

.main-floor-holiday-list>.active>i {
  display: block;
}

.main-floor-holiday-sliderbar {
  position: relative;
  width: 220px;
  float: left;
  overflow: hidden
}

.main-floor-holiday-sliderbar-dl {
  width: 240px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
}

.main-floor-holiday-sliderbar-dl>dt {
  display: block;
  color: #333;
  font-weight: bold;
}

.main-floor-holiday-sliderbar-dl>dd {
  color: #999;
}

.main-floor-holiday-sliderbar-dl>dd>a {
  display: inline-block;
  height: 20px;
  margin-right: 20px;
  line-height: 20px;
  color: #999;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-floor-holiday-sliderbar-dl>dt>a:hover,
.main-floor-holiday-sliderbar-dl>dd>a:hover {
  color: #fa8d00;
}

.main-floor-holiday-sliderbar-brand {
  padding-top: 10px;
  font-size: 14px;
  border-top: 1px dotted #e6e6e6;
}

.main-floor-holiday-sliderbar-brand>b {
  display: block;
  color: #555;
  font-weight: normal;
  margin-bottom: 5px;
}

.main-floor-holiday-sliderbar-brand>span {
  color: #999;
}

.main-floor-holiday-sliderbar-brand>img {
  margin-top: 30px;
}

.main-floor-holiday-slidercon {
  margin-left: 240px;
  padding-top: 20px;
}

.main-floor-holiday-slidercon>ul {
  width: 975px;
}

.main-floor-holiday-slidercon-item {
  float: left;
  width: 180px;
  height: 200px;
  margin: 0 15px 15px 0;
  transition: all 0.3s linear;
}

.main-floor-holiday-slidercon-item:hover {
  transform: translateY(-5px);
}

.main-floor-holiday-slidercon-item>a {
  display: block;
  color: #555;
}

.main-floor-holiday-slidercon-item>a>img {
  display: block;
  width: 180px;
  height: 120px;
}

.main-floor-holiday-slidercon-item>a>.text-con {
  padding: 9px 9px 4px 9px;
  border: 1px solid #ddd;
  border-top: 0;
  background: #fff;
}

.main-floor-holiday-slidercon-item .text-con>p {
  height: 36px;
  line-height: 18px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
}

.main-floor-holiday-slidercon-item .text-con>.num-con {
  color: #999;
}

.main-floor-holiday-slidercon-item .text-con .sale-con {
  float: right;
  padding: 3px 5px;
  margin-top: 2px;
  color: #fff;
  background: #00c94c;
}

.main-floor-holiday-slidercon-item .text-con .text-price>b {
  font-size: 20px;
  color: #f30;
  font-weight: normal;
}

/* 2.2.2 欣欣优选 */
.main-floor-preference {
  height: 552px;
  background-color: #f7f7f7;
}

.main-floor-preference .container {
  padding: 30px 0px;
}

.main-floor-preference-title {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #fe4579;
}

.main-floor-preference-title>strong {
  padding-left: 40px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 18px;
}

.main-floor-preference-title>strong>i {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/spirit_01.png);
  background-size: 600px 500px;
  background-position: -185px -128px;
}

.main-floor-preference-title>strong>a {
  color: #fe4579;
}

.main-floor-preference-title>strong>a:hover {
  color: #fa8d00;
}

.main-floor-preference-title>a {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: #999;
}

.main-floor-preference-title>a:hover {
  color: #fa8d00;
}

.main-floor-preference-sliderbar {
  position: relative;
  width: 220px;
  float: left;
  overflow: hidden
}

.main-floor-preference-sliderbar-txt {
  height: 190px;
}

.main-floor-preference-sliderbar-dl {
  width: 240px;
  padding: 10px 0;
  font-size: 14px;
}

.main-floor-preference-sliderbar-dl>dt {
  display: block;
  font-weight: bold;
  line-height: 18px;
}

.main-floor-preference-sliderbar-dl>dd {
  color: #999;
}

.main-floor-preference-sliderbar-dl>dd>a {
  display: inline-block;
  height: 20px;
  margin-right: 20px;
  line-height: 20px;
  color: #999;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-floor-preference-sliderbar-dl>dt>a:hover,
.main-floor-preference-sliderbar-dl>dd>a:hover {
  color: #fa8d00;
}

.main-floor-preference-sliderbar-brand {
  padding-top: 10px;
  font-size: 14px;
  border-top: 1px dotted #e6e6e6;
}

.main-floor-preference-sliderbar-brand>b {
  display: block;
  color: #555;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 3px;
}

.main-floor-preference-sliderbar-brand>span {
  color: #999;
}

.main-floor-preference-slidercon {
  margin-left: 240px;
  padding-top: 20px;
}

.main-floor-preference-slidercon>ul {
  width: 975px;
}

.main-floor-preference-slidercon-item {
  float: left;
  width: 180px;
  height: 200px;
  margin: 0 15px 15px 0;
  transition: all 0.3s linear;
}

.main-floor-preference-slidercon-item:hover {
  transform: translateY(-5px);
}

.main-floor-preference-slidercon-item>a {
  display: block;
  color: #555;
}

.main-floor-preference-slidercon-item>a>img {
  display: block;
  width: 180px;
  height: 120px;
}

.main-floor-preference-slidercon-item>a>.text-con {
  padding: 9px 9px 4px 9px;
  border: 1px solid #ddd;
  border-top: 0;
  background: #fff;
}

.main-floor-preference-slidercon-item .text-con>p {
  height: 36px;
  line-height: 18px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
}

.main-floor-preference-slidercon-item .text-con>.num-con {
  color: #999;
}

.main-floor-preference-slidercon-item .text-con .sale-con {
  float: right;
  padding: 3px 5px;
  margin-top: 2px;
  color: #fff;
  background: #00c94c;
}

.main-floor-preference-slidercon-item .text-con .text-price>b {
  font-size: 20px;
  color: #f30;
  font-weight: normal;
}

/* 2.2.3 特惠门票 */
.main-floor-special {
  height: 523px;
}

.main-floor-special .container {
  padding: 30px 0px;
}

.main-floor-special-title {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #00ccff;
}

.main-floor-special-title>strong {
  padding-left: 40px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 18px;
}

.main-floor-special-title>strong>i {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/spirit_01.png);
  background-size: 600px 500px;
  background-position: -155px -128px;
}

.main-floor-special-title>strong>a {
  color: #00ccff;
}

.main-floor-special-title>strong>a:hover {
  color: #fa8d00;
}

.main-floor-special-title>a {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: #999;
}

.main-floor-special-title>a:hover {
  color: #fa8d00;
}

.main-floor-special-sliderbar {
  position: relative;
  width: 220px;
  float: left;
  margin-top: 5px;
  overflow: hidden;
}

.main-floor-special-sliderbar-dl {
  width: 240px;
  padding: 10px 0;
  font-size: 14px;
}

.main-floor-special-sliderbar-dl>dt {
  display: block;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 7px;
  margin-top: -7px;
}

.main-floor-special-sliderbar-dl>dd {
  color: #999;
}

.main-floor-special-sliderbar-dl>dd>a {
  display: inline-block;
  height: 20px;
  margin-right: 20px;
  line-height: 20px;
  color: #999;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-floor-special-sliderbar-dl>dt>a:hover,
.main-floor-special-sliderbar-dl>dd>a:hover {
  color: #ff7700;
}

.main-floor-special-sliderbar-recommend {
  margin-top: 20px;
}

.main-floor-special-sliderbar-recommend-title {
  line-height: 20px;
  padding-bottom: 5px;
  overflow: hidden;
}

.main-floor-special-sliderbar-recommend-title>strong {
  float: left;
}

.main-floor-special-sliderbar-recommend-title>strong>a:hover {
  color: #ff7700;
}

.main-floor-special-sliderbar-recommend-title>.recommend-tit {
  float: right;
}

.main-floor-special-sliderbar-recommend-title>.recommend-tit>a {
  display: inline-block;
  width: 20px;
  margin-left: 5px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #555;
  border-radius: 3px;
  background-color: #f4f4f4;
}

.main-floor-special-sliderbar-recommend-title>.recommend-tit>.active-on {
  color: #fff;
  background-color: #0cf;
}

.main-floor-special-sliderbar-recommend-item:nth-child(2) {
  display: none;
}

.main-floor-special-sliderbar-recommend-item>ul>li {
  width: 220px;
  height: 64px;
  margin-bottom: 10px;
  overflow: hidden;
}

.main-floor-special-sliderbar-recommend-item .recommend-item>a {
  float: left;
}

.main-floor-special-sliderbar-recommend-item .recommend-item img {
  width: 72px;
  height: 60px;
}

.main-floor-special-sliderbar-recommend-item .recommend-item>.recommend-nr {
  float: right;
  width: 140px;
  height: 60px;
  padding-top: 5px;
  box-sizing: border-box;
}

.main-floor-special-sliderbar-recommend-item .recommend-item>.recommend-nr>strong {
  color: #555;
}

.main-floor-special-sliderbar-recommend-item .recommend-item>.recommend-nr a:hover {
  color: #ff7700;
}

.main-floor-special-sliderbar-recommend-item .recommend-item>.recommend-nr p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 12px;
  overflow: hidden;
  color: #999;
}

.main-floor-special-slidercon {
  margin-left: 240px;
  height: 338px;
  position: relative;
}

.main-floor-special-slidercon-title {
  padding: 10px 0;
}

.main-floor-special-slidercon-title>a {
  display: inline-block;
  height: 20px;
  padding: 0 10px;
  line-height: 18px;
  border-radius: 2px;
  font-size: 14px;
  color: #333;
}

.main-floor-special-slidercon-title>a.special-on {
  background-color: #00ccff;
  color: #fff;
}


.main-floor-special-slidercon-content {
  width: 975px;
}

.main-floor-special-slidercon-content>ul>li {
  float: left;
  width: 180px;
  margin: 0 15px 15px 0;
  transition: all 0.3s linear;
}

.main-floor-special-slidercon-item:hover {
  transform: translateY(-5px);
}

.main-floor-special-slidercon-item>a {
  display: block;
}

.main-floor-special-slidercon-item>a>img {
  width: 180px;
  height: 110px;
}

.main-floor-special-slidercon-item>a>.text-con {
  padding: 9px 9px 3px 9px;
  border: 1px solid #ddd;
  border-top: 0;
  background: #fff;
}

.main-floor-special-slidercon-item .text-con>p {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
}

.main-floor-special-slidercon-item>a>.text-con>div.num-con {
  color: #999;
}

.main-floor-special-slidercon-item>a>.text-con b {
  font-size: 20px;
  color: #f30;
  font-weight: normal;
}

.main-floor-special-slidercon-item>a>.text-con .sale-con {
  float: right;
  padding: 3px 5px;
  color: #fff;
  background: #00c94c;
}

/* 2.2.4 四月出游推荐  */
.main-floor-AprilOuting {
  height: 537px;
}

.main-floor-AprilOuting .container {
  padding: 30px 0px;
}

.main-floor-AprilOuting-title {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #f8cc1b;
}

.main-floor-AprilOuting-title>strong {
  padding-left: 40px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 18px;
}

.main-floor-AprilOuting-title>strong>i {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/spirit_01.png);
  background-size: 600px 500px;
  background-position: -215px -128px;
}

.main-floor-AprilOuting-title>strong>a {
  color: #f8cc1b;
}

.main-floor-AprilOuting-title>strong>a:hover {
  color: #fa8d00;
}

.main-floor-AprilOuting-title>strong>span {
  color: #999;
  font-size: 14px;
  margin-left: 10px;
}

.main-floor-AprilOuting-title>a {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: #999;
}

.main-floor-AprilOuting-title>a:hover {
  color: #fa8d00;
}

.main-floor-AprilOuting-content {
  padding-top: 20px;
}

.main-floor-AprilOuting-left， .main-floor-AprilOuting-right {
  width: 415px;
  overflow: hidden;
}

.main-floor-AprilOuting-left {
  float: left;
}

.main-floor-AprilOuting-right {
  float: right;
}

.main-floor-AprilOuting-left>ul,
.main-floor-AprilOuting-right>ul {
  width: 425px;
}

.main-floor-AprilOuting-left-item,
.main-floor-AprilOuting-right-item {
  position: relative;
  width: 135px;
  height: 135px;
  float: left;
  margin: 0 5px 5px 0;
}

.main-floor-AprilOuting-left-item02 {
  float: left;
  width: 275px;
  height: 135px;
  margin: 0 5px 5px 0;
}

.main-floor-AprilOuting-right-item01 {
  position: relative;
  float: left;
  width: 415px;
  height: 135px;
  margin: 0 5px 5px 0;
}

.main-floor-AprilOuting-left-item>a,
.main-floor-AprilOuting-right-item>a {
  display: block;
  width: 135px;
  height: 135px;
}

.main-floor-AprilOuting-right-item01>a>span {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  text-align: center;
  font-size: 20px;
  color: #6a694e;
  font-weight: bold;
}

.main-floor-AprilOuting-left-item>a>img {
  width: 135px;
  height: 135px;
}

.main-floor-AprilOuting-right-item>a>img {
  width: 135px;
  height: 135px;
}

.main-floor-AprilOuting-left-item>a>b,
.main-floor-AprilOuting-right-item>a>b {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.main-floor-AprilOuting-left-item>a>b>span,
.main-floor-AprilOuting-right-item>a>b>span {
  flex: 1;
  display: block;
  font-size: 14px;
  font-family: '宋体';
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 5;
}

.main-floor-AprilOuting-left-item>a>div.AprilOuting-cover,
.main-floor-AprilOuting-right-item>a>div.AprilOuting-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main-floor-AprilOuting-center {
  float: left;
  margin-left: 3px;
  width: 334px;
  height: 415px;
  padding: 20px 30px;
  box-sizing: border-box;
  background-image: url(../images/main_floor_AprilOuting_center_bg.jpg);
  background-repeat: no-repeat;
}

.main-floor-AprilOuting-center>strong {
  font-size: 18px;
  color: #55c0f8;
  font-weight: bold;
}

.main-floor-AprilOuting-center>a {
  display: block;
  padding: 0 20px;
  margin: 10px 0;
  line-height: 30px;
  border-radius: 15px;
  font-size: 14px;
  background: #fff;
}

.main-floor-AprilOuting-center>a:hover {
  color: #fa8d00;
}

/* 2.2.5 攻略 贴士 百宝箱 */
.main-floor-strategy {
  height: 454px;
  background-color: #f7f7f7;
}

.main-floor-strategy .container {
  padding: 30px 0px;
}

.main-floor-strategy-title {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #59af42;
}

.main-floor-strategy-title>strong {
  padding-left: 40px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 18px;
  color: #59af42;
}

.main-floor-strategy-title>strong>i {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/spirit_01.png);
  background-size: 600px 500px;
  background-position: -124px -128px;
}

.main-floor-strategy-title>strong>a {
  color: #59af42;
}

.main-floor-strategy-title>strong>a:hover {
  color: #fa8d00;
}

.main-floor-strategy-title>a {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: #999;
}

.main-floor-strategy-title>a:hover {
  color: #fa8d00;
}

.main-floor-strategy-left {
  float: left;
  width: 436px;
}

.main-floor-strategy-left-item01 {
  position: relative;
  width: 421px;
  height: 266px;
  padding: 20px 20px 0 0;
  margin-bottom: 10px;
}

.main-floor-strategy-left-item {
  width: 50%;
  float: left;
  height: 26px;
  padding-right: 20px;
  box-sizing: border-box;
  line-height: 26px;
  font-size: 14px;
  overflow: hidden;
}

.main-floor-strategy-left-item01>a {
  display: block;
  width: 421px;
  height: 266px;
  overflow: hidden;
}

.main-floor-strategy-left-item>a {
  margin-left: 5px;
  overflow: hidden;
}

.main-floor-strategy-left-item>a:hover {
  color: #fa8d00;
}

.main-floor-strategy-left-item01>a>img {
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}

.main-floor-strategy-left-item01>a>img:hover {
  transform: scale(1.08);
}

.main-floor-strategy-left-item01>b {
  display: block;
  position: absolute;
  top: 246px;
  left: 0;
  width: 421px;
  line-height: 40px;
  /* 缩进10px  比padding和margin要好用点，但是它只是针对第一行*/
  text-indent: 10px;
  font-weight: normal;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
}

.main-floor-strategy-left-item01>b>a {
  color: #fff;
}

.main-floor-strategy-left-item01>b>a:hover {
  color: #fa8d00;
}

.main-floor-strategy-left-item.a {
  color: #555;
}

.main-floor-strategy-center {
  float: left;
  width: 390px;
  margin-top: 20px;
}

.main-floor-strategy-center-pic {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main-floor-strategy-center-pic>a {
  display: block;
  color: #333;
  width: 390px;
}

.main-floor-strategy-center-pic>a>b {
  position: absolute;
  bottom: 50px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.main-floor-strategy-center-pic>a>p {
  position: absolute;
  bottom: 22px;
  right: 10px;
}

.main-floor-strategy-center-pic>a>p>span {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  margin-left: 5px;
  color: #7fe26f;
  background: #fff8dd;
}

.main-floor-strategy-center-pic>a>img {
  width: 390px;
}

.main-floor-strategy-center-list>li {
  padding: 0 10px;
  height: 43px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-floor-strategy-center-list>li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-image: url(../images/main_floor_strategy_center_icon.png);
}

.main-floor-strategy-center-list>li>a {
  color: #555;
}

.main-floor-strategy-center-list>li>a:hover {
  color: #fa8d00;
}

.main-floor-strategy-right {
  width: 362px;
  float: right;
  margin-top: 20px;
}

.main-floor-strategy-right-item {
  width: 120px;
  float: left;
  height: 110px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.main-floor-strategy-right-item:nth-child(3n) {
  border-right: none;
}

.main-floor-strategy-right-item:nth-last-child(-n+3) {
  border-bottom: none;
}

.main-floor-strategy-right-item>a {
  display: block;
  height: 20px;
  padding-top: 70px;
  text-align: center;
  background-image: url(../images/spirit_01.png);
  background-repeat: no-repeat;
  background-position: 0px -318px;
}

.main-floor-strategy-right-item:first-child>a:hover {
  background-image: url(../images/strategy_01.gif);
  background-position: 5px -7px;
}

.main-floor-strategy-right-item:nth-child(2)>a {
  background-position: -124px -318px;
}

.main-floor-strategy-right-item:nth-child(2)>a:hover {
  background-image: url(../images/strategy_02.gif);
  background-position: 5px -7px;
}

.main-floor-strategy-right-item:nth-child(3)>a {
  background-position: -246px -318px;
}

.main-floor-strategy-right-item:nth-child(3)>a:hover {
  background-image: url(../images/strategy_03.gif);
  background-position: -2px -7px;
}

.main-floor-strategy-right-item:nth-child(4)>a {
  background-position: -360px -318px;
}

.main-floor-strategy-right-item:nth-child(4)>a:hover {
  background-image: url(../images/strategy_04.gif);
  background-position: 5px -7px;
}

.main-floor-strategy-right-item:nth-child(5)>a {
  background-position: -481px -318px;
}

.main-floor-strategy-right-item:nth-child(5)>a:hover {
  background-image: url(../images/strategy_05.gif);
  background-position: 4px -7px;
}

.main-floor-strategy-right-item:nth-child(6)>a {
  background-position: -5px -391px;
}

.main-floor-strategy-right-item:nth-child(6)>a:hover {
  background-image: url(../images/strategy_06.gif);
  background-position: 0px -7px;
}

.main-floor-strategy-right-item:nth-child(7)>a {
  background-position: -121px -391px;
}

.main-floor-strategy-right-item:nth-child(7)>a:hover {
  background-image: url(../images/strategy_07.gif);
  background-position: 4px -5px;
}

.main-floor-strategy-right-item:nth-child(8)>a {
  background-position: -242px -391px;
}

.main-floor-strategy-right-item:nth-child(8)>a:hover {
  background-image: url(../images/strategy_08.gif);
  background-position: 3px -5px;
}

.main-floor-strategy-right-item:last-child>a {
  background-position: -368px -391px;
}

.main-floor-strategy-right-item:last-child>a:hover {
  background-image: url(../images/strategy_09.gif);
  background-position: -3px -5px;
}

.main-floor-strategy-right-item>a:hover {
  color: #fa8d00;
}

/* 2.2.6 floor部分的底部 */
.main-floor-bottom {
  height: 241px;
}

.main-floor-bottom .container {
  padding: 30px 0px;
}

.main-floor-bottom-title {
  margin-top: 20px;
  border-bottom: 1px solid #dedede;
}

.main-floor-bottom-title>b {
  display: block;
  position: relative;
  width: 160px;
  margin: 0 auto;
  margin-bottom: -10px;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: normal;
  background-color: #fff;
}

.main-floor-bottom-title>b>s {
  position: absolute;
  top: 8px;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  background-color: #dedede;
}

.main-floor-bottom-title>b>s.first {
  left: 0px;
}

.main-floor-bottom-title>b>s.last {
  right: 0px;
}

.main-floor-bottom-content {
  margin-top: 40px;
}

.main-floor-bottom-content>a {
  display: block;
}

.main-floor-bottom-content>a>ul {
  text-align: center;
}

.main-floor-bottom-item {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.main-floor-bottom-item>i {
  display: block;
  width: 55px;
  height: 70px;
  margin: 0 auto;
  background-image: url(../images/spirit_01.png);
  background-repeat: no-repeat;
  background-position: 0px -161px;
  margin-bottom: 5px;
}

.main-floor-bottom-item:nth-child(2)>i {
  background-position: -55px -161px;
}

.main-floor-bottom-item:nth-child(3)>i {
  background-position: -110px -161px;
}

.main-floor-bottom-item:nth-child(4)>i {
  background-position: -165px -161px;
}

.main-floor-bottom-item:nth-child(5)>i {
  background-position: -220px -161px;
}

.main-floor-bottom-item:nth-child(6)>i {
  background-position: -275px -161px;
}

.main-floor-bottom-item:nth-child(7)>i {
  background-position: -330px -161px;
}

.main-floor-bottom-item:nth-child(8)>i {
  background-position: -385px -161px;
}

.main-floor-bottom-item:nth-child(9)>i {
  background-position: -440px -161px;
}

/* 3.底部 */
footer {
  height: 604px;
  background-color: #444;
}

footer .container {
  padding: 30px 0px;
}

.footer-service {
  height: 151px;
}

.footer-service-datacon {
  float: left;
  width: 470px;
  text-align: center;
}

.footer-service-datacon>strong {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
}

.footer-service-datacon>strong>i {
  display: inline-block;
  width: 30px;
  height: 35px;
  margin-right: 8px;
  vertical-align: middle;
  background-image: url(../images/spirit_01.png);
  background-position: -150px -31px;
}

.footer-service-datacon>p {
  padding: 10px 15px 10px 0;
  line-height: 18px;
  font-size: 14px;
  color: #aaa;
}

.footer-service-datacon>p>em {
  padding: 0 3px;
  color: #00bf49;
}

.footer-service-datacon-bottom {
  line-height: 21px;
  color: #f90;
  font-size: 14px;
}

.footer-service-datacon-bottom>span {
  display: inline-block;
  margin-right: 20px;
  font-size: 12px;
}

.footer-service-datacon-bottom>span>i {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  vertical-align: -2px;
  background-position: -181px -31px;
  background-image: url(../images/spirit_01.png);
}

.footer-service-helpnav {
  width: 440px;
  float: left;
  padding: 0 0 0 20px;
  margin-right: 20px;
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
  overflow: hidden;
}

.footer-service-helpnav>ul {
  width: 460px;
}

.footer-service-helpnav-item {
  display: inline-block;
  width: 96px;
  margin: 0 30px 0 20px;
  vertical-align: top;
}

.footer-service-helpnav-item>b {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #ccc;
  font-weight: normal;
}

.footer-service-helpnav-item>a {
  display: inline-block;
  line-height: 30px;
  font-size: 12px;
  color: #999;
}

.footer-service-helpnav-item>a:hover {
  color: #fff;
}

.footer-service-others {
  float: left;
  position: relative;
}

.footer-service-others strong {
  display: block;
  font-weight: normal;
  font-size: 14px;
  color: #ccc;
}

.footer-service-others>span.weixin {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  z-index: 2;
}

.footer-service-others>span.weixin>a>i {
  display: inline-block;
  width: 38px;
  height: 33px;
  vertical-align: middle;
  background-image: url(../images/spirit_01.png);
  background-position: -94px -73px;
}

.footer-service-others>span.weixin:hover>a>i {
  background-position: -132px -73px;
}

.footer-service-others-hidebox {
  display: none;
  position: absolute;
  bottom: 35px;
  left: 0px;
  padding: 15px 15px 5px 15px;
  line-height: 20px;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.footer-service-others-hidebox>img {
  width: 200px;
  height: 200px;
}

.footer-service-others-hidebox>span {
  display: inline-block;
  line-height: 20px;
}

.footer-service-others>span.weibo {
  display: inline-block;
  margin: 10px 0px;
}

.footer-service-others>span.weibo>a>i {
  display: inline-block;
  width: 40px;
  height: 33px;
  vertical-align: middle;
  margin-top: -2px;
  background-position: -171px -72px;
  background-image: url(../images/spirit_01.png);
}

.footer-service-others>span.weibo:hover>a>i {
  background-position: -211px -72px;
}

.footer-service-others>span.app {
  position: absolute;
  top: 0px;
  right: -120px;
  color: #ccc;
  font-size: 14px;
  background: none;
  z-index: 1;
}

.footer-service-others>span.app>img {
  margin-top: 2px;
}

.footer-about {
  margin-top: 50px;
  text-align: center;
  color: #666;
  font-size: 14px;
}

.footer-about>a {
  color: #999;
}

.footer-about>a:hover {
  color: #fff;
}

.footer-pic {
  display: block;
  width: 1200px;
  margin: 10px auto;
  height: 50px;
  text-align: center;
  overflow: hidden;
}

.footer-pic-item {
  display: inline-block;
  width: 110px;
  height: 50px;
  margin-right: 5px;
  overflow: hidden;
  background-image: url(../images/spirit_01.png);
  background-position: 0 -240px;
}

.footer-pic-item:first-child {
  width: 149px;
}

.footer-pic-item:last-child {
  width: 120px;
}

.footer-pic-item:nth-child(2) {
  background-position: -259px -240px;
}

.footer-pic-item:nth-child(3) {
  background-position: -369px -240px;
}

.footer-pic-item:nth-child(4) {
  background-position: -149px -240px;
}

.footer-pic-item:last-child {
  background-position: -480px -240px;
}

.footer-pic-item>a {
  display: block;
  width: 110px;
  height: 50px;
}

.footer-copyright {
  line-height: 30px;
  text-align: center;
  color: #666;
  font-size: 14px;
}

.footer-copyright>a {
  color: #666;
}

.footer-copyright>a:hover {
  color: #aaa;
}

.footer-link {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid #575757;
  font-size: 14px;
  color: #666;
  overflow: hidden;
}

.footer-link>b {
  display: block;
  color: #aaa;
  margin-bottom: 2px;
}

.footer-link>b.second {
  margin-top: 20px;
}

.footer-link>p>a {
  display: inline-block;
  color: #666;
  line-height: 20px;
  font-size: 12px;
}

.footer-link>p>a:hover {
  color: #fff;
}

.footer-exemption {
  padding-bottom: 5px;
  text-align: center;
  color: #666;
  font-size: 14px;
}